.App {
  text-align: center;
}

.buttondisp{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.buttons{
  height: 30px;
  width: 75px;
  color: black;
  background-color: aquamarine;
  border: 0;
  margin-left: 5px;
  border-radius: 5px;
  font-weight: bold;
}
